<div class="form-group p-4">
    <label for="languageSelect" class="mb-1">
        <span>🌍</span>
        {{ 'select-language' | translate }}
    </label>
    <select class="form-select" [(ngModel)]="selectedLanguage" (ngModelChange)="onLanguageChange()">
        <option value="en">English</option>
        <option value="fr">Français</option>
    </select>
</div>

<hr>

<div class="attribution">
    <span>® </span>
    <span>{{ 'icons-from' | translate }} </span>
    <a href="https://www.flaticon.com" target="_blank">Flaticon</a>
</div>
