.container-p {
    height: 100vh;
}

.number {
    font-size: 200px;
    font-weight: 700;
    color: #5b5b5b75;
}

p {
    font-size: 20px;
    font-weight: 500;
    color: #5b5b5bd5;
}

button {
    background-color: #6757f0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    min-width: 200px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}

.wave-bottom {
    position: absolute;
    bottom: 0;
    height: 180px;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    background-color: #6757f0;
    clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 64.5%,
        2% 64.12%,
        4% 63.02%,
        6% 61.23%,
        8% 58.83%,
        10% 55.95%,
        12% 52.7%,
        14% 49.24%,
        16% 45.73%,
        18% 42.31%,
        20% 39.16%,
        22% 36.41%,
        24% 34.18%,
        26% 32.58%,
        28% 31.69%,
        30% 31.53%,
        32% 32.13%,
        34% 33.44%,
        36% 35.42%,
        38% 37.97%,
        40% 40.97%,
        42% 44.3%,
        44% 47.79%,
        46% 51.3%,
        48% 54.65%,
        50% 57.7%,
        52% 60.31%,
        54% 62.36%,
        56% 63.76%,
        58% 64.44%,
        60% 64.37%,
        62% 63.56%,
        64% 62.04%,
        66% 59.89%,
        68% 57.19%,
        70% 54.07%,
        72% 50.68%,
        74% 47.17%,
        76% 43.7%,
        78% 40.42%,
        80% 37.48%,
        82% 35.03%,
        84% 33.16%,
        86% 31.97%,
        88% 31.51%,
        90% 31.79%,
        92% 32.82%,
        94% 34.53%,
        96% 36.86%,
        98% 39.69%,
        100% 42.9%
    );
}

.wave-top {
    position: absolute;
    top: 0;
    height: 180px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background-color: #6757f0;
    clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 53.33%,
        2% 53.17%,
        4% 52.68%,
        6% 51.88%,
        8% 50.8%,
        10% 49.49%,
        12% 47.97%,
        14% 46.32%,
        16% 44.59%,
        18% 42.83%,
        20% 41.12%,
        22% 39.5%,
        24% 38.05%,
        26% 36.81%,
        28% 35.82%,
        30% 35.12%,
        32% 34.74%,
        34% 34.69%,
        36% 34.96%,
        38% 35.55%,
        40% 36.45%,
        42% 37.61%,
        44% 39%,
        46% 40.56%,
        48% 42.25%,
        50% 44%,
        52% 45.75%,
        54% 47.44%,
        56% 49%,
        58% 50.39%,
        60% 51.55%,
        62% 52.45%,
        64% 53.04%,
        66% 53.31%,
        68% 53.26%,
        70% 52.88%,
        72% 52.18%,
        74% 51.19%,
        76% 49.95%,
        78% 48.5%,
        80% 46.88%,
        82% 45.17%,
        84% 43.41%,
        86% 41.68%,
        88% 40.03%,
        90% 38.51%,
        92% 37.2%,
        94% 36.12%,
        96% 35.32%,
        98% 34.83%,
        100% 34.67%
    );
}

@media (max-width: 768px) {
    .container-p {
        margin: 40% 0%;
    }
    .number {
        font-size: 116px;
    }
    p {
        font-size: 16px;
    }
    button {
        min-width: 160px;
        font-size: 14px;
    }
}
